@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">HEADER</li>
            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index", "medcins")"><i class="fa fa-link"></i> <span>Medcin</span></a>
            </li>
            <li class="@Url.IsLinkActive("index", "passions")">
                <a href="@Url.Action("index", "passions")"><i class="fa fa-link"></i> <span>Passion</span></a>
            </li>
            <li class="@Url.IsLinkActive("index", "rendez_vous")">
                <a href="@Url.Action("index", "rendez_vous")"><i class="fa fa-link"></i> <span>Rendez-vous</span></a>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>